.ual-top-banner {background-color:#275D38; height:70px; padding:15px 0 15px 30px;}
.ual-top-banner img {float:left; height:40px;}
.ual-inner {margin:auto; width:1240px;}
.ual-library-tag {float:left; color:#F2CD00; font-size:1.8rem; text-decoration: none; margin:7px 0 0 35px; font-weight: 200;}
h2{
  font-size:0.6rem;
}
h3{
  font-size:0.5rem;
}