
/* ua green header */
.ual-top-banner { background-color:#275D38; height:80px;  width:100%; padding:15px 8px; }
.ual-top-banner img { float:left; height:50px; }
.ual-library-tag { float:left; color:#F2CD00 !important; font-size:1.8rem; text-decoration: none!important; margin:10px 0 0 35px; font-weight: 300;}

/* ua green header + primo white navbar */
.ual-inner, .top-bar .header-container { width: 100%;  margin: 0 auto;}
@media (min-width: 600px) and (max-width: 959.98px) { .ual-inner, .top-bar .header-container {  width: clamp(288px, 88.42544317%, 848px);  }}
@media (min-width: 960px) and (max-width: 1279.98px) { .ual-inner, .top-bar .header-container  {  width: clamp(912px, 85%, 1088px);  }}
@media (min-width: 1280px) { .ual-inner, .top-bar .header-container  {  width: clamp(1088px, 85%, 1368px); }}
nde-logo { display: none; } /* green ua logo that shows by default before new search */

/* primo white navbar */
.container .top-bar { background-color: #FFFFFF!important; }  /* navbar colour */
@media only screen and (min-width: 1920px) { .cdk-overlay-container:has(.main-menu-dialog) { top:70px!important;  } }  /* increasing overlay margin to not cut off green banner in large screens */
.cdk-overlay-container:has(.main-menu-dialog) .mat-mdc-tooltip { display: none!important; } /* hiding tooltips when overlay menu is open */
.selected-page.mat-mdc-button-base { text-decoration: none; } /* removes the underline on New Search when on homepage, but still allows for underline on hover - copied from NDE cohort email */
.selected-page.mat-mdc-button-base:hover { text-decoration: underline; }
html { --mdc-plain-tooltip-supporting-text-color:#2b292a!important; }  /* tooltip font */
.main-menu-container{ margin-left: 5px; }

/* search bar */
.container .top-bar-background-image { background-image: none !important; }  /* giant default header image */
.custom-search-bar-container .background-overlay, .custom-search-bar-container h1 { display: none !important; } /* giant default header title 'search the library' */
.container .custom-search-bar-container h2 { display: none; }
.container .custom-search-bar-container {  height:10rem !important; }
.search-bar-container .advanced-search-button.advanced-search-btn-home-page { color: #275D38 !important; } /* advanced search link after search bar */
.nde-overrides .mat-mdc-option.mat-mdc-option-active.mdc-list-item {  outline: transparent!important;  } /* hiding outline of selected drop-down menu items */
.dropdown-box { background-color: #f5f5f5!important; }
.mdc-button.mat-mdc-button.cdk-focused.cdk-keyboard-focused {  outline: 1px solid var(--sys-primary);  --mat-mdc-button-persistent-ripple-color: transparent; } /* making the keyboard focus a little less intense */
.search-bar-container .search-bar-wrapper { background-color: #FFFFFF!important; }
.search-dropdown-container .search-dropdown-container-button { background-color: #FFFFFF!important; } /* everything drop-down */

/* advanced search */
.mat-mdc-form-field.search-field { background-color: #fff!important; }  /* search box background colour */
.mat-mdc-form-field.barcode-search-field { background-color: #fff!important; }  /* barcode search box background colour */

/* ual chat widget */ 
.s-lch-widget-float.open{  height:75%;  top:auto; }
.s-lch-widget-float-btn{  box-shadow:none !important;  background-color:transparent; }
.s-lch-widget-float-btn img{  box-shadow: 0 0 0 0 rgba(200, 107,    168, 0.7);  animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);  border-radius:15px;  background-color:transparent; }
.s-lch-offline-msg-2 a{  display:block; }
.s-lch-widget-float-btn img:hover, img[alt="Chat is Offline"] {  animation: none; }
.search-bar-container .search-input-field.keyboard-focused {  outline: 1px #007A33 !important; }
@keyframes pulse {to {box-shadow: 0 0 0 6px rgba(200,107,168, 0);}}
@media only screen and (min-width: 768px) and (max-width: 1919.98px) { .cdk-overlay-container:has(.main-menu-dialog) {  top: 135px !important; } }

/* homepage aka new search */
.main-landing-page .about .about-content .about-text { gap:0.3rem; }
.home-page-container { margin-top: 0 !important; }
.links-block .separated-block-item:after { transform: rotate(0deg);  }


/* search results */
[data-qa="link-to-newspaper-search"] { display: none; }
.pagination-container .current-page { background-color: #275D38!important; color: #ffffff!important; }
.filter-results-count { color: #6c757d!important; } /* number in brackets beside filters */
.record-type, .record-indication {  color: #6c757d!important;  } /* resource type shown in search results */

/* resource recommender grey banner */
.banner-title {font-size: 1.1rem !important;}
.banner-default-background {background-color: #555 !important;}
.resource-recommender-banner-overlay {top:0 !important; bottome:0 !important; background-color: transparent !important;}
.resource-recommender-banner-container {margin-bottom: 1rem !important; height: 10rem !important;}

/* specific icon colour changes - removing nde-full-display-container to change them in results as well */
.mat-icon[data-mat-icon-name="Share"] svg path { fill: #007A33!important; }
.mat-icon[data-mat-icon-name="Bookmark"] svg path { fill: #007A33!important; }
.mat-icon[data-mat-icon-name="Export"] svg path { fill: #007A33!important; }
.mat-icon[data-mat-icon-name="Citation"] svg path { fill: #007A33!important; }
.mat-icon[data-mat-icon-name="Exclude"] svg path { fill: #e56a54!important; }  /* ua red -- exclude in filters */

/* search results and full display - hiding hat icon and PART OF A COURSE and divider before */
.mat-divider:has(+ div .mat-icon[data-mat-icon-name="Course-Indicator"]) { display: none; }
.mat-icon[data-mat-icon-name="Course-Indicator"] ~ span { display: none; }
.mat-icon[data-mat-icon-name="Course-Indicator"] { display: none; }

rect { fill:#007A33!important; }  /* ua green -- "full versions list" stacked paper icon */
.mat-icon[data-mat-icon-name="Available-record-indicator"] circle { fill: #007A33!important; }  /* ua green -- green circle before available item library/location */

/* full display */

.view-it-card-container { background-color: #FFFFFF!important; }  /* online access boxes background */

/* known issue: error in requests section when only item level requests present - changing background of error to digital white */
.no-requests { border-radius: 7px;  background-color:#f5f5f5!important;  }

/* full display page - location section */ 
.getit-location-card, .even-location-item-card { background-color: #fff!important; }
.not-grouped-by-library { border: 1px solid #d2d2d2!important; }
.getit-location-items-filter-bar { background-color: #f5f5f5!important; border-top-left-radius: .5rem; border-top-right-radius: .5rem; }

/* full display page - location section - align item level ges links with regular request links */
.location-service-link { padding-top: 3px; }

/* making the title bigger in full display */
.search-result-item.full-display {  --sys-body-large: 400 1.25rem/1.5rem "Noto Sans Display", sans-serif; }

nde-full-display-navigation { border-bottom: transparent!important; }  /* hr near top of full display page (originally bright white) */


/* full display + my account */

/* changing background of info alert to ua blue and icon to black */
.info-alert-background { background-color: #7BA4DB!important; }
.info-alert-background .mat-icon svg path { fill: #2b292a!important; }

/* my account */

/* full page login page styles */
nde-login-page .image-section img, nde-login-page .login-header-logo { display: none; }
nde-login-page .top-bar { background-color: #fff !important; }

/* logged in user initials icon */ 
.user-area .user-area-logged-in span { color: #2b292a!important; font-weight:600!important; }  /* font colour and weight */
.user-area .user-area-logged-in span.ng-star-inserted {  background-color: #F2CD00 !important;  }  /* circle colour */
.user-area .user-area-logged-in span { unicode-bidi: bidi-override; direction: rtl; display: inline-block !important; line-height: 24px; } /* user initials order */ 

/* my account > overview */
nde-account-overview .notification-text~a { color: #2b292a; }  /* colour of link in blue alert box */
.search-history-card .search-history-list .search-history-row:nth-child(2n) { background-color: #f5f5f5!important;  } /* 2nd search history item (originally sys-background aka bright white) */

/* changing icon colours in my account */
nde-account .mat-icon svg path { fill: #007A33!important; }
.account-menu-container ul { color: #2b292a; }

/* my account > loans */
.loan-info .renew-error {  background-color: #e56a54!important; color: #fff; } /* changing not renewable flag to ua red */

/* my account > notices */
nde-blocks h2[data-qa="blocks_messages_header"] { display: none; }  /* hiding block header ‘university of alberta’ */
nde-blocks .block-item { border: #d2d2d2 solid 1px; }  /* putting block text into box like is typical of my account sections */

/* my account > settings */
nde-personal-details { display: none; } /* hiding personal details box */
button[data-qa="settings-update-login-btn"] { display: none; } /* hiding update login credentials in personal settings box */
mat-card-actions:has(button[data-qa="settings-update-login-btn"]) { min-height:0px; }


/* journal search */
nde-journal-database-layout-component .journal-homepage-container { margin-block-start: 1rem!important; } /* decreasing huge margin at the top */
.title[data-qa="journal-search-page-title"] { color:#275D38!important; } /* title font colour */


/* newspaper search */
[data-qa="npsearch-main"] .title { font-weight: normal!important; } /* changing “search within newspapers” font to not be bold */
.title[data-qa="newspaper-search-page-title"] { color:#275D38!important; } /* title font colour */


/* browse search */
.title[data-qa="browse-search-page-title"] { color:#275D38!important; } /* title font colour */


/* ill request form */
.blank-request .divider { display: none; } /* hiding vertical line after book and article radio buttons */


/* overriding custom-color-theme-green.css (under assets/color-themes) with ua colours */
:root {
  --sys-background: #f5f5f5!important; /* digital white -- background for search boxes - main, my account > saved records, everything drop-down in advanced search  */
  --sys-error: #e56a54!important; /* ua red */
  --sys-error-container: #e56a54!important; /* ua red */
  --sys-inverse-on-surface: #F5F5F5!important;  /* digital white -- tooltip font, background of 'Everything' drop-down menu, background of loans,holds+requests,fees boxes in my account */
  --sys-inverse-primary: #007A33!important; /* ua green */
  --sys-inverse-surface: #F2CD00!important; /* ua gold -- background of ALL tooltips */
  --sys-on-background: #2b292a!important;  /* black font */
  --sys-on-error: #F5F5F5!important; /* digital white */
  --sys-on-error-container: #e56a54!important; /* ua red */
  --sys-on-primary: #F5F5F5!important; /* digital white -- font of place hold button, background of saved records and current session search history in my account */
  --sys-on-primary-container: #2b292a!important;  /* black font */ 
  --sys-on-primary-fixed: #2b292a!important;  /* black font */ 
  --sys-on-primary-fixed-variant: #275D38!important; /* ua dark green -- search summary border */
  --sys-on-secondary: #F5F5F5!important; /* digital white */
  --sys-on-secondary-container:#2b292a!important; /* black font -- font of selected drop-down menu item */
  --sys-on-secondary-fixed: #7BA4DB!important; /* ua blue */
  --sys-on-secondary-fixed-variant: #7BA4DB!important; /* ua blue */
  --sys-on-surface: #2b292a!important;  /* black font -- all text that isn't links, pastel version of this is a hover shade for sections in full display page */
  --sys-on-surface-variant: #275D38!important; /* ua dark green -- search filters circle hover when off ie. to turn on, heading font in advanced search */
  --sys-on-tertiary: #F5F5F5!important; /* digital white */
  --sys-on-tertiary-container: #FFB600!important; /* ua dark yellow */
  --sys-on-tertiary-fixed: #FFB600!important; /* ua dark yellow */
  --sys-on-tertiary-fixed-variant: #F2CD00!important; /* ua gold */
  --sys-outline: #6c757d!important; /* dark grey -- all icons, resource type/peer review labels, border around selected item in drop-down menu, x in search bar */
  --sys-outline-variant: #D2D2D2!important; /* grey -- border around horizontal filter buttons, hr in full display except for very top */
  --sys-primary: #275D38!important; /* ua dark green -- font of all links, some icons, some borders, background of place hold button, border of loans,holds+requests,fees boxes in my account, background of logged in user icon circle */
  --sys-primary-container: #D2D2D2!important; /* grey -- background of alert box (full display page, chapters of this book section, 'please note that this is not necessarily a complete list of chapters'), hover background of arrows in browse similar, hover background of circle in filters when on ie. to turn off  */
  --sys-primary-fixed: #275D38!important; /* ua dark green */
  --sys-primary-fixed-dim: #F2CD00!important; /* ua gold -- background of 'signed in as' */
  --sys-scrim: #2b292a!important; /* black font */
  --sys-secondary: #007A33!important; /* ua green */
  --sys-secondary-container: #D2D2D2!important; /* grey -- background of selected drop-down menu item */
  --sys-secondary-fixed: #007A33!important; /* ua green */
  --sys-secondary-fixed-dim: #6CC24A!important; /* ua light green */
  --sys-shadow: #2b292a!important; /* black font */
  --sys-surface: #F5F5F5!important; /* digital white */
  --sys-surface-bright: #F5F5F5!important; /* digital white */
  --sys-surface-container: #F5F5F5!important; /* digital white */
  --sys-surface-container-high: #F5F5F5!important; /* digital white */
  --sys-surface-container-highest: #F5F5F5!important; /* digital white */
  --sys-surface-container-low: #FFFFFF!important; /* bright white -- background of request options and horizontal line on full display page */
  --sys-surface-container-lowest: #F5F5F5!important; /* digital white */
  --sys-surface-dim: #D2D2D2!important; /* grey */
  --sys-surface-tint: #D2D2D2!important; /* grey */
  --sys-surface-variant: #D2D2D2!important; /* grey -- background of filter toggles when off */
  --sys-tertiary: #F2CD00!important; /* ua gold */
  --sys-tertiary-container: #F2CD00!important; /* ua gold */
  --sys-tertiary-fixed: #F2CD00!important; /* ua gold */
  --sys-tertiary-fixed-dim: #FFB600!important; /* ua dark yellow */  

/* overriding root with ua colours */
  --darkText: #2b292a!important; /* black font */
  --lightText: #6c757d!important; /* dark grey */
  --whiteText: #F5F5F5!important; /* digital white */
  --valid: #007A33!important; /* ua green */
  --validDark: #275D38!important; /* ua dark green */
  --disableText: #D2D2D2!important; /* grey */
  --validBG: #6CC24A!important; /* ua light green */
  --intermediate: #F68D2E!important; /* ua orange */
  --whiteBG: #F5F5F5!important; /* digital white -- entire page background including navbar */
  --notice: #7BA4DB!important; /* ua blue */
  --dark : #2b292a!important; /* black font */
  --darkBGWithOpacity: rgba(46, 46, 39, 0.8);
  --blackBGWithOpacity: rgba(0, 0, 0, 0.85);
  --divider: #6c757d!important; /* dark grey */
  --switchTrackColor: #D2D2D2!important; /* grey */
  --border: #D2D2D2!important; /* grey -- all borders (search boxes, hr under search boxes, boxes around item info and location info on full display page) */
  --scrollBar: #D2D2D2!important; /* grey */
  --lightBG: #F5F5F5!important; /* digital white -- background of online access links, number and header in search results, location area on full display page */
  --darkBG: #D2D2D2!important; /* grey -- header of locations box on full display page */
  --searchBarBG: #F5F5F5!important; /* digital white */
  --checkboxBorder:  #6c757d!important; /* dark grey */
  --neutralBG: #F5F5F5!important; /* digital white */

}